/* cart.css */
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.wasck{
  margin-bottom: 0.8em;
}

.result-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-texts {
  margin-top: 10px;
  text-align: center;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.counter button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.counter button:hover {
  background-color: #45a049;
}

.d-none {
  display: none;
}
